html {
  height: auto;
  width: auto;
}

body {
  height: auto;
  width: auto;
  font-family: 'PT Sans', sans-serif;
  background-color: #0079BE;
}

.barra_superior {
  background-color: rgb(0, 104, 164);
}

.btns_barra {
  background-color: #7EAECC;
  height: 35px;
}

#btn_tablero {
  margin-left: 0.3%;
  margin-top: 0.2%;
  margin-bottom: 0.2%;
  font-size: 93%;
}

.fa-trello {
  font-size: 18px;
}

#btn_search {
  margin: 0.2%;
  width: 13%;
}

#title_trello {
  font-family: 'Sriracha', cursive;
  font-size: 22px;
  color: #7EAECC;
  margin-left: auto;
  margin-right: auto;
}

.fa-search {
  float: right;
  font-size: 93%;
}

#btn_mas {
  margin-top: 0.2%;
  width: 37px;
}

#btn_exclamation {
  margin-top: 0.2%;
  margin-left: 0.2%;
  width: 37px;
}

#btn_bell {
  margin-top: 0.2%;
  margin-left: 0.2%;
  width: 37px;
}

#btn_perfil {
  border-radius: 70%;
  margin-top: 0.2%;
  margin-left: 0.2%;
  margin-right: 0.2%;
  width: 37px;
}

.containerForm {
  width: 100%;
  margin-left: 2%;
  background-color: #E1E5E9;
  border-radius: 1%;
  display: none;
  margin-top: 16%;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

.btnAddAList {
  background-color: #066AA8;
  width: 100%;
  margin-left: 0px;
  color: #9dcce7;
  text-align: left;
  margin-top: 16%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  font-size: 90%;
}

#listTitle {
  margin-bottom: 2%;
}

#btnAddList {
  margin-left: 1%;
  margin-bottom: 1%;
  height: 35px;
  text-align: center;
}

.fa-times {
  color: #919294;
  margin-left: 5%;
}

#container_task {
  display: none;
  margin-bottom: 2%;
  padding: 2%;
}

.nameList {
  margin-left: 4%;
  margin-top: 2%;
}

.AddTask {
  color: #878788;
  position: relative;
  top: 5px;
  right: 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
  padding-left: 12%;
}

#task {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 80%;
}

.containerList {
  font-family: Arial, Helvetica, sans-serif;
  width: 20%;
  margin-left: 0.5%;
}

.containerTask {
  background-color: #E1E5E9;
  margin-left: 1%;
  margin-top: 3.2%;
  margin-right: 1%;
  width: 20%;
  border-radius: 2%;
}

.btnAddCard {
  height: 35px;
  margin-left: 2%;
  margin-bottom: 2%;
  margin-top: 1%;
}

.textarea {
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
  border-radius: 2%;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
  color: #878788;
}

.newDiv {
  background-color: white;
  color: rgb(109, 108, 108);
  font-family: 'Open Sans', sans-serif;
  font-size: 80%;
  margin-bottom: 4%;
  border-radius: 5%;
  height: 35px;
  padding: 2%;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.barra_proyecto {
  margin-top: 3%;
  color: white;
}

.links {
  color: white;
  margin-right: 1%;
}

.tituloTablero {
  margin-left: 1%;
  font-size: 20px;
}

.proyecto3 {
  margin-left: 1%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.privado {
  margin-left: 1%;
  font-size: 15px;
}


