html {
  height: auto;
  width: auto;
}

body {
  height: auto;
  width: inherit;
  font-family: 'PT Sans', sans-serif;
  background-color: #0079BE;
  margin: 0;
  overflow-x: auto;
}

header {
  width: auto;
  background-color: rgb(0, 104, 164);
  height: 40px;
  padding: 0px;
  margin-right: 0px;
}

.btns_barra {
  background-color: rgb(85, 156, 201);
  height: 31px;
  border: none;
  border-radius: 3px;
  margin-top: 0.25%;
  margin-bottom: 0.25%;
}

#btn_tablero {
  margin-left: 0.5px;
  font-size: 90%;
  width: 6.7%;
  padding-right: 5px;
  font-weight: bold;
  text-align: left;
  overflow-x: hidden;
  overflow-y: hidden;
}

.hover_barra:hover {
  background-color: rgba(63, 144, 194, 0.788);
}

.fa-trello {
  font-size: 18px;
  margin-left: -3px;
}

#btn_search {
  padding-bottom: 26px;
  width: 11.5%;
  text-align: right;
  font-size: 115%;
}

#btn_search:hover {
  background-color: rgb(119, 174, 209);
}

.logo {
  height: 24px;
  width: auto;
  filter: opacity(55%);
  position:absolute;
  left: 47.5%;
  top:1%;
  background-color: rgb(0, 104, 164);
  border: none;
  outline: none;
}

.logo:hover {
  filter: opacity(75%);
} 

.foto-user-trello {
  width: 38px;
  height: 34px;
  position: relative;
  top: -5px;
  margin-right: -3px;
}

.btn_home {
  margin-left: 0.2%;
  width: 33px;
  height: 33px;
  text-align: center;
  padding-left: 8px;
}
/*
.logo:hover {
  filter: opacity(80%);
}*/

.fa-search {
  float: right;
  font-size: 80%;
  margin-top: 3px;
}

#btn_mas {
  margin-top: 0.2%;
  width: 30px;
  height: 31px;
  padding-left: 8px;
  margin-right: 0px;
}

#btn_mas:hover {
  background-color: rgba(63, 144, 194, 0.788);
}

#btn_exclamation {
  margin-top: 0.2%;
  margin-left: 0%;
  width: 31px;
  height: 31px;
  padding-left: 8px;
}

#btn_bell {
  margin-top: 0.2%;
  margin-left: 0%;
  margin-right: -5%;
  width: 31px;
}

.fa-bell {
  margin-left: -2.5px;
}

#btn_perfil_header {
  border-radius: 60%;
  margin-top: 0%;
  margin-left: 5%;
  width: 31px;
  position: relative;
  top: 10px;
}

#icons {
  float: right;
  margin-top: -0.5%;
  margin-right: 0.2%;
}

.containerForm {
  width: 100%;
  margin-left: 0px;
  background-color: #E1E5E9;
  border-radius: 2%;
  margin-top: -1%;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  float: left;
}

.btnAddAList {
  background-color: #066AA8;
  width: 100%;
  margin-left: 0px;
  color: #9dcce7;
  text-align: left;
  margin-top: -1%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  font-size: 90%;
  float: left;
}

.containerTask {
  background-color: #E1E5E9;
  margin-left: 10px;
  margin-top: -3px;
  padding-top: 7px;
  margin-right: 10px;
  width: 250px;
  border-radius: 2%;
  float: left;
}

.containerCards {
  display: inline-block;
}

#listTitle {
  margin-bottom: 2%;
  font-size: 14px;
}

#listTitle:focus {
  border: 1px solid blue;
  box-shadow: blue;
}

#btnAddList {
  margin-left: 1%;
  margin-bottom: 1%;
  height: 35px;
  text-align: center;
}

.fa-times {
  color: #919294;
  margin-left: 5%;
}

.nameList {
  margin-left: 4%;
  margin-top: 2%;
  font-weight: bold;
  font-size: 14px;
}

.AddTask {
  color: #878788;
  position: relative;
  top: 5px;
  right: 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
  padding-left: 12%;
}

.AddTask:hover {
  color: #646464;
}

.containerList {
  font-family: Arial, Helvetica, sans-serif;
  width: 250px;
  margin-left: 10px;
  float: left;
}

.btnAddCard {
  height: 35px;
  margin-left: 2%;
  margin-bottom: 2%;
  margin-top: 1%;
}

.textarea {
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
  border-radius: 2%;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
  color: #878788;
}

.newDiv {
  background-color: white;
  color: rgb(109, 108, 108);
  font-family: 'Open Sans', sans-serif;
  font-size: 80%;
  margin-bottom: 4%;
  border-radius: 5%;
  height: 35px;
  padding: 2%;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.barra_proyecto {
  margin-top: 1%;
  color: white;
  width: 100%;
}

.links {
  color: white;
  margin-right: 1%;
}

.tituloTablero {
  margin-left: 1.7%;
  margin-right: 0%;
  font-size: 17px;
  position: relative;
  top: -6px;
  font-weight: bold;
  background-color: #0079BE;
  border: none;
  padding-left: 7px;
  padding-right: 7px;
  height: 37px;
}

.tituloTablero:hover {
  background-color: rgb(30, 103, 148);
}

.fa-star {
  font-size: 78%;
  margin-top: -0.3%;
  margin-left: 0.5%;
  margin-right: 0%;
  border-radius: 5%;
  width: 35px;
  height: 35px;
  padding-top: 12px;
  padding-left: 10px;
}

.fa-star:hover {
  background-color: rgb(30, 103, 148);
}

.separador {
  color: #88b0c9;
}

.proyecto {
  margin-left: 0.5%;
  margin-right: 0.5%;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 14px;
  position: relative;
  top: -6px;
  background-color: #0079BE;
  border: none;
  height: 37px;
}

.proyecto:hover {
  background-color: rgb(30, 103, 148);
}

.privado {
  margin-left: 0%;
  font-size: 14px;
  background-color: #0079BE;
  border: none;
  height: 37px;
  position: relative;
  top: -6px;
}

.privado:hover {
  background-color: rgb(30, 103, 148);
}

.btn_perfil {
  border-radius: 60%;
  margin-left: 0.4%;
  width: 28px;
  height: 28px;
  position: relative;
  top: -4px;
  background-color: rgb(85, 156, 201);
  border: none;
}

.btn_perfil:hover {
  background-color: rgb(30, 103, 148);
}

.fa-user-plus {
  color: white;
  font-size: 12px;
}




