html {
  height: auto;
  width: auto;
}

body {
  height: auto;
  width: auto;
  font-family: 'PT Sans', sans-serif;
  background-color: #0079BE;
}

.barra_superior {
  background-color: rgb(0, 104, 164);
}

.btns_barra {
  background-color: #7EAECC;
  height: 35px;
}

#btn_tablero {
  margin-left: 0.3%;
  margin-top: 0.2%;
  margin-bottom: 0.2%;
  font-size: 93%;
}

.fa-trello {
  font-size: 18px;
}

#btn_search {
  margin: 0.2%;
  width: 13%;
}

#title_trello {
  font-family: 'Sriracha', cursive;
  font-size: 22px;
  color: #7EAECC;
  margin-left: auto;
  margin-right: auto;
}

.fa-search {
  float: right;
  font-size: 93%;
}

#btn_mas {
  margin-top: 0.2%;
  width: 37px;
}

#btn_exclamation {
  margin-top: 0.2%;
  margin-left: 0.2%;
  width: 37px;
}

#btn_bell {
  margin-top: 0.2%;
  margin-left: 0.2%;
  width: 37px;
}

#btn_perfil {
  border-radius: 70%;
  margin-top: 0.2%;
  margin-left: 0.2%;
  margin-right: 0.2%;
  width: 37px;
}

.div_add_list {
  margin-left: 0%;
  padding-left: 0%;
}

#btn_add_list {
  background-color: #066AA8;
  width: 83%;
  margin-left: 2%;
  color: #81C2E8;
  text-align: left;
  margin-top: 16%;
  height: 48%;
}

#input_add_list {
  width: 83%;
  margin-left: 2%;
  background-color: #E1E5E9;
  border-radius: 5%;
  display: none;
  margin-top: 16%;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

#formGroupExampleInput {
  margin-bottom: 2%;
}

#btn_guardar {
  margin-left: 1%;
  margin-bottom: 1%;
  height: 35px;
  text-align: center;
}

.fa-times {
  color: #919294;
  margin-left: 5%;
}

#container_task {
  display: none;
  margin-bottom: 2%;
  padding: 2%;
}

#list_name {
  margin-bottom: 8%;
}

#add_task {
  color: #919294;
}


